<div class='row'>
	<div class="page-header">
		<h1><%= @application.name %></h1>
	</div>
</div>

<div class="row">
	<ol class="breadcrumb">
		<li><%= link_to 'Applications', applications_path %></li>
		<li><%= link_to @application.name, @application %></li>
	</ol>
</div>

<div class="row">
	<p>Application for a <%= number_to_currency(@application.amount, precision: 0) %> <%= @activity_type.downcase %> at <%= @lender_name %>.
	</p>

	<p>
	  <strong>Owner:</strong>
	  <%= link_to @owner.first_name, @owner %>
	</p>

	<p>
	  <strong>Currently waiting on:</strong>
	  <%= @application.waiting_on %>
	</p>
</div>

<div class="row">
	<%= link_to 'Edit', edit_application_path(@application) %> |
	<%= link_to 'Back', applications_path %> |
	<%= link_to 'Delete', @application, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<br>

<div class="row">
	<div class="panel panel-default">
		<div class='panel-heading'>
			<h3 class='panel-title'>Notes</h3>
		</div>
		<div class="list-group">
			<% if @notes.count > 0 %>
				<% @notes.each do |note| %>
					<div class='list-group-item'>
						<%= note.body %>
						<h5> - <%= link_to note.user.first_name, note.user %>, <%= time_ago_in_words(note.created_at.in_time_zone('Australia/Sydney')) %> ago</h5>
					</div>
				<% end %>
			<% else %>
				<div class="list-group-item">
					No notes yet. Add one below.
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="row">
	<%= form_for(@note) do |f| %>
		<% if @note.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

				<ul>
				<% @note.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

		<%= f.hidden_field :application_id %>
		<%= f.hidden_field :user_id %>

		<div class="input-group">
			<%= f.text_field :body, class: 'form-control', placeholder: 'New Note...' %>
			<span class="input-group-btn">
				<%= f.submit class: 'btn btn-default' %>
			</span>
		</div>
	<% end %>
</div>
