<% provide(:title, @user.name) %>
<div id="user-details-top-row">
  <div class="page-header">
    <h1><%= @user.name %></h1>
  </div>
</div>
<div class="row">
	<p>
		<strong>Name: </strong><%= @user.name %>
	</p>
	<p>
		<strong>Email: </strong><%= @user.email %>
	</p>
	<p>
		<strong>Level: </strong><%= @user.level.capitalize %>
	</p>
	<p>
		<strong>Company: </strong><%= @user.company.name %>
	</p>
</div>
